/* .container {
    width: clamp(100px, 100vw, 1000px);

} */


body {
   
    background: linear-gradient(to right,
      rgb(37, 23, 77) 0%,
      rgb(55, 139, 207) 50%,
      rgb(37, 23, 77) 100%);
}

nav {
    text-align: center;
}

/* nav h1 {
    display: inline-block;
    font-size: clamp(1rem, 5vw, 3rem);
    text-align: center;
    background: linear-gradient(to right, rgb(255, 115, 0), rgb(203, 248, 2));
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

.nav-bar h1 {
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    border-radius: 9999px;
    display: inline-flex;
    color: #ffff;
    border: 3px solid #ffffff4d;
    overflow: hidden;
    cursor: default
}

.nav-bar h1:hover {
    transform: scale(1.05);
    border-color:  rgb(255, 115, 0);
}

.nav-bar h1:hover::before {
    animation: shine 1.5s ease-out infinite;
}

.nav-bar h1::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0) 30%,
        rgb(255, 115, 0, 1) 50%,
        rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
}

@keyframes shine {
    0% {
        left: -100px;
    }

    60% {
        left: 100%;
    }

    to {
        left: 100%;
    }
}

.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

#searchInput {
    background-color: #ffffff1c;
    color: white;
    width: 250px;
    height: 20px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
}

#searchInput::placeholder {
    color: white;
}

#searchInput:focus {
    color: white;
    background-color: #2020201c;
    outline-color: rgb(255, 115, 0);
    box-shadow: 0px 3px 10px rgb(255, 115, 0);
    transition: .1s;
    transition-property: box-shadow;
    
}

#searchBtn{
    display: inline-flex;
    padding: 10px;
    filter: invert(1);
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.results div {
    display: flex;
    width: 600px;
    align-items: center;     
    padding: 20px;
    border-radius: 10px; 
    margin-bottom: 10px; 
}


.results div img {
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
}

.track-container {
    width: 100%;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
}

.track-info {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    text-align: left; 
}

.favicon {
    display: flex;
    justify-content: center;    
}

.favicon img {
    cursor: pointer;
}

.results div h2 { 
    color: white;
    margin: 2px; 
}

.results div h3 {
    font-size: 20px; 
    color: white;
    margin: 2px; 
}

.results div p {
    font-size: 16px; 
    color: black;
    margin: 2px; 
}

.results div audio {
    margin-top: 10px; 
}

.error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}








